<form #formUser="ngForm">
  <label>Email</label>
  <input [(ngModel)]="user.email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
  <div *ngIf="formUser.controls.email?.touched && !formUser.controls.email?.valid">
    <small translate *ngIf="formUser.controls.email?.errors.pattern">
      Email sai kìa bươỉ
    </small>
  </div>
  <br>
  <br>
  <label>Tuoi</label>
  <input [(ngModel)]="user.tuoi" name="tuoi" pattern="[0-9]+">
  <div *ngIf="!formUser.controls.tuoi?.valid">
    <small translate *ngIf="formUser.controls.tuoi?.errors.pattern">
      Sai tuoi
    </small>
  </div>
  <select id="select" [(ngModel)]="user.select" name="select">
    <option value="1">a</option>
    <option value="2">b</option>
    <option value="3">c</option>
    <option value="4">d</option>
  </select>
  <br>
  <br>
  <p-calendar id="calendar" [(ngModel)]="user.birthday" [locale]="calendar" icon="fa-pencil-square-o" [showIcon]="true" name="birthday"
    [monthNavigator]="true" [yearNavigator]="true" yearRange="{{yearRange}}" dateFormat="{{dateFormat}}" inputStyleClass="form-control">
  </p-calendar>
  <br>
  <br>
  <p-fileUpload #form name="demo[]" url="./upload.php" (onSelect)="onSelect($event, form)" multiple="multiple" accept="image/*"
    maxFileSize="10000000" [showUploadButton]="false" [showCancelButton]="false">
    <ng-template let-file pTemplate="file">
      <div>
        <div class="ui-fileupload-row">
          <div>
            <button type="button" icon="fa-close" pButton (click)="onRemove(file)" style="background: orange"></button>
          </div>
          <div>
            <img [src]="file.objectURL" width="50" />
          </div>
          <div>{{file.name}}</div>
          <div>{{file.size}} bytes</div>
        </div>
      </div>
    </ng-template>

  </p-fileUpload>

  <button (click)="click();">Click</button>
  <button type="submit" (click)="onUpdate(formUser)">Update</button>
</form>